<?xml version="1.0"?>
<config>
	<modules>
		<Wehup_Directory>
			<version>0.3.0</version>
		</Wehup_Directory>
	</modules>
	<global>
		<helpers>
			<wehup_directory>
				<class>Wehup_Directory_Helper</class>
			</wehup_directory>
		</helpers>
		<models>
			<directory>
				<rewrite>
					<service>Wehup_Directory_Model_Service</service>
					<city>Wehup_Directory_Model_City</city>
				</rewrite>
			</directory>
			<directory_resource>
				<rewrite>
					<city>Wehup_Directory_Model_Resource_City</city>
					<city_collection>Wehup_Directory_Model_Resource_City_Collection</city_collection>
				</rewrite>
                <entities>
                    <country_region_city>
                        <table>directory_country_region_city</table>
                    </country_region_city>
                    <country_region_city_name>
                        <table>directory_country_region_city_name</table>
                    </country_region_city_name>
				</entities>
			</directory_resource>
		</models>
		<resources>
			<wehup_directory_setup>
				<setup>
					<module>Wehup_Directory</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</wehup_directory_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<directory>
				<args>
					<module>Wehup_Directory</module>
					<modules>
						<Mage_Directory before="Wehup_Directory">Mage_Directory</Mage_Directory> 
					</modules>
				</args>
			</directory>
		</routers>
		<translate>
			<modules>
				<Wehup_Directory>
					<files>
						<default>Wehup_Directory.csv</default>
					</files>
				</Wehup_Directory>
			</modules>
		</translate>
	</frontend>
</config>